html {height: 100%;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,input,table,tr,td,dl,dt,dd,img,div{margin:0;padding:0;border:0;}
body{height: 100%;font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;}
ol,ul{list-style-type:none;}
img{vertical-align:middle;border: none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
button,input[type=submit],input[type=button] {cursor: pointer;}
textarea{resize:none;}
table{border-collapse:collapse;}
a{text-decoration:none;color:#333;cursor: pointer;}
a:active{outline:none;}
em,i{font-style: normal;}
::-webkit-scrollbar {width: 10px;height: 10px;}
::-webkit-scrollbar-button:vertical {display: none;}
::-webkit-scrollbar-corner,::-webkit-scrollbar-track {background-color: #e2e2e2;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: rgba(0, 0, 0, .3);}
::-webkit-scrollbar-thumb:vertical:hover {background-color: rgba(0, 0, 0, .35);}
::-webkit-scrollbar-thumb:vertical:active {background-color: rgba(0, 0, 0, .38);}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #b6b6b6;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#b6b6b6;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#b6b6b6;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#b6b6b6;}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}
input::-webkit-search-cancel-button{display: none;}
input[type=search]::-ms-clear{display: none;}
input[disabled],select[disabled],textarea[disabled] {background: #ebebe4;}
:focus{outline:0;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{*height:1%;*clear: both;}
.none {display: none;}
.left {float: left;}
.right {float: right;}
.pointer{cursor: pointer;}
/* 内外边距 */
.margin-auto {margin: auto;}
.margin-r-20 {margin-right: 20px;}
.margin-l-20 {margin-left: 20px;}
.margin-t-10 {margin-top: 10px;}
/* 文字颜色 */
.state-0 {color: #666;}  /* 完成1 灰色 */
.state-1 {color: #ffac00;}  /* 完成2 */
.state-2 {color: #999;}  /* 完成3 */
.state-3 {color: #fa2b3a;}  /* 未完成1 */
.state-4 {color: #5dc440;}  /* 待处理 */
.state-5 {color: #fe012d;} /* 未完成2 */
/*订单列表里的状态字体样式*/
.order-state-10 {color: #fe012d;}
.order-state-20 {color: #ffac00;}
.order-state-30 {color: #5dc440;}
.order-state-40 {color: #666666;}
.order-state-50 {color: #ff2c41;}
.order-state-60 {color: #aaaaaa;}

/* 输入框和选择框圆角 */
.screen input[type=text],.screen select{border-radius: 3px;}
/* 文字超出部分用...省略 */
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/* 背景色 */
.background-e8e8e8 {background: #e8e8e8;}
/* icon */
.icon {background: url(/img/icon.png) no-repeat;}
.icon-warn {display: block;width:17px;height:17px;background-position: -1px -1px;} /* 警告图标 */

/* 操作图标 --> 图标大小统一24px/24px */
.click-icon {margin: 0 2px;display: inline-block;*display: inline;width: 24px;height: 24px;background: url(/img/icon_cz.png) no-repeat;}
.click-icon-check {background-position: 0 0;} /* 查看 */
.click-icon-edit {background-position: 0 -24px;} /* 编辑 */
.click-icon-Noedit {background-position: -24px -24px;cursor: no-drop;} /* 无法编辑 */
.click-icon-del {background-position: 0 -48px;} /* 删除 */
.click-icon-off {background-position: 0 -72px;} /* 禁用 */
.click-icon-open {background-position: 0 -95px;} /* 启用 */
.click-icon-rename {background-position: 0 -119px;} /* 重命名 */
.click-icon-execute {background-position: 0 -147px;} /* 立即执行 */
.click-icon-cope {background-position: 0 -169px;} /* 拷贝/复制 */
.click-icon-audit {background-position: -53px 0;} /* 审核 */
.click-icon-compile {background-position: -53px -25px;} /* 高级编辑 */
.click-icon-viewlog {background-position: -53px -48px;} /* 查看日志 */
.click-icon-single {background-position: -53px -73px;} /* 查看推单记录 */
.click-icon-logistics {background-position: -55px -97px;} /* 查看推单记录 */
.click-icon-encrypt {background-position: -52px -120px;} /* 修改密码 */
.click-icon-setas {background-position: -55px -143px;} /* 设为默认等级 */

/* 按钮 */
.button {padding: 0 10px;display: block;min-width: 60px;height: 38px;line-height: 38px;border: none;background: none;color: #333;box-sizing: inherit;border-radius: 3px;}
.button-ffac00 {color: #fff;background: #ffac00;}.button-ffac00:hover {background: #cd8a01;}
.button-e8e8e8 {color: #333;background: #e8e8e8;}.button-e8e8e8:hover {color: #666;background: #f0efef;}

/* 选择框check-box */
/* HTML结构
<div class="check-box">
    <span class="check-input"><i></i></span>
    <label class="check-text">全选</label>
</div>
*/
.check-box {height: 18px;line-height: 18px;cursor: pointer;}
.check-box .check-input {position: relative;display: block;float: left;width: 16px;height: 16px;background: #fff;border: #ddd solid 1px;}
.check-box .check-input i {margin: -4px 0 0 -4.5px;display: none;position: absolute;top: 50%;left: 50%;width: 10px;height: 8px;background: url(/img/icon.png) no-repeat -23px -41px;}
.check-box .check-input.cur {border-color: #ffac00;}
.check-box .check-input.cur i {display: block;}
.check-box .check-text {margin-left: 10px;display: block;float: left;font-size: 12px;color: #333;cursor: pointer;}

/* input输入筛选获取 ==> 配合common.js的wordKeyAcquisition方法使用 */
/* HTML结构
<div class="word-key-acquisition">
    <input type="text" value="" placeholder="请输入或选择品牌">
</div>
*/
.word-key-acquisition {float: left;height: 34px;}
.word-key-acquisition input {padding: 0 5px;width: 140px;height: 34px;background: #fff;border-radius: 3px;box-sizing: inherit;}
.word-key-acquisition-list {position: absolute;z-index: 5;width: 200px;background: #fff;border: #ddd solid 1px;}
.word-key-acquisition-list ul {overflow-y: auto;display: block;height: 210px;}
.word-key-acquisition-list ul li {margin: 0 0 -1px;padding: 0 5px;display: block;float: none;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;height: 30px;line-height: 30px;font-size: 12px;color: #666;cursor: pointer;border-bottom: #ddd solid 1px;}
.word-key-acquisition-list ul li:hover,.word-key-acquisition-list ul .cur {color: #333;background: #ddd;}
.word-key-acquisition-list ul li span {color: #ffac00;}

/* select */
.select-box {position: relative;overflow: hidden;background: #fff;}
.select-box select {padding-left: 15px;position: absolute;top: 50%;left: -5px;z-index: 4;z-index: 2\9;background: transparent;border-color: transparent;cursor: pointer;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.select-box select::-ms-expand {display: none;}
.select-box i {margin-top: -2px;position: absolute;top: 50%;right: 12px;z-index: 3;width: 7px;height: 4px;background: url(/img/icon.png) no-repeat -23px -105px;}

/* header */
.yt-head {position: fixed;top: 0;left: 0;z-index: 2;width: 100%;min-width: 1380px;height: 90px;background: #FFF;border-bottom: 1px solid #ddd;}
.yt-head .home {display: inherit;float: left;width: 240px;height: 90px;background: #ffac00;}
.yt-head .home .yt-logo {position: absolute;top: 22px;left: 42px;width: 142px;height: 52px;background: url(/img/yt-logo.png) no-repeat;}
.yt-head .yt-nav {padding: 36px 20px 20px;display: inherit;float: left;}
.yt-head .yt-nav ul {overflow: hidden;max-width: 844px;height: 34px;}
.yt-head .yt-nav .nav-list {margin-right: 10px;float: left;width: 124px;text-align: center;height: 34px;line-height: 34px;font-size: 15px;border-radius: 3px;}
.yt-head .yt-nav li.active {background: #ffac00;}
.yt-head .yt-nav .nav-list a {padding: 0 5px;overflow: hidden;display: block;width: 114px;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.yt-head .yt-nav li.active a {color: #FFF;}
@media only screen and (min-width:1260px) {.yt-head .yt-nav .nav-list {width: 124px;}}
@media only screen and (max-width:1260px) {.yt-head .yt-nav .nav-list {margin-right: 10px;width: 110px;}.yt-head .yt-nav .nav-list a {width: 110px;}}
.yt-head .yt-nav-move {position: absolute;top: 6px;right: 20px;}
.yt-head .likeLink {overflow: hidden;float: left;}
.yt-head .likeLink .list {float: left;height: 30px;}
.yt-head .likeLink .ycWWWTitle {padding-left: 23px;background: url(/img/new-yclogo.png) no-repeat left center;}
.yt-head .likeLink .ycindexTitle {padding-left: 30px;background: url(/img/yc-icon-s.png) no-repeat 9px center;}
.yt-head .likeLink .indexTitle {padding-left: 34px;background: url(/img/yt-icon-s.png) no-repeat 10px center;}
.yt-head .likeLink .list a {margin-top: 10px;padding: 0 10px 0 0;display: block;height: 10px;line-height: 10px;font-size: 12px;color: #666;border-right: 1px solid #ccc;}
.yt-head .personMouseover {float: left;height: 30px}
.yt-head .yt-personal {margin: 7px 0;height: 16px;line-height: 16px;cursor: pointer;}
.yt-head .yt-personal .personal-icon {margin: 2px 0 0 10px;display: block;float: left;width: 12px;height: 13px;background: url(/img/icon.png) no-repeat -1px -20px;}
.yt-head .yt-personal .personal-name {padding: 0 10px;position: relative;float: left;max-width: 80px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px;color: #666;}
.yt-head .set-center {position: absolute;top: 29px;right: 0;z-index: 101;overflow: hidden;display: none;width: 166px;height: 137px;border: 1px solid #dbdcde;background: #FFF;}
.yt-head .personMouseover:hover .set-center {display: block}
.yt-head .set-center .set-center-icon {position: absolute;top: -5px;right: 14px;width: 15px;height: 5px;background: url(/img/icon.png) no-repeat -1px -89px;}
.yt-head .set-center .set-help {width: 100%;height: 165px;}
.yt-head .set-center .set-help ol {overflow: hidden;height: 100%;}
.yt-head .set-center .set-help li {padding: 0 18px;position: relative;}
.yt-head .set-center .set-help li:hover {background: #f4f4f4}
.yt-head .set-center .set-help li a {padding-left: 32px;display: block;width: 136px;height: 45px;line-height: 45px;font-size: 14px;color: #989898;border-bottom: 1px solid #f0f0f0;cursor: pointer;}
.yt-head .set-center .set-help li a i {position: absolute;top: 15px;left: 26px;width: 18px;height: 18px;background: url(/img/icon.png) no-repeat;}
.yt-head .set-center .set-help li .set i {width: 15px;background-position: -1px -35px;}
.yt-head .set-center .set-help li .password i {background-position: -1px -52px;}
.yt-head .set-center .set-help li .out i {background-position: -1px -70px;}

/* nav */
.layout-panel-west {z-index: 999;background: #3d4346;}
.panel-header {padding: 0 0 0 10px;height: 34px;line-height: 34px;background: #3d4346;border: none;}
.panel-title {display: block;height: 34px;line-height: 34px;font-size: 14px;color: #FFF;font-weight: normal;}
.panel-tool a,.panel-tool a:hover {margin: -8px;display: block;float: right;width: 32px;height: 32px;background: url(/img/icon.png) no-repeat 10px -96px;opacity: 1;cursor: pointer;}
.panel-tool .layout-button-right,.panel-tool .layout-button-right:hover {position: fixed;top: 98px;left: 6px;z-index: 105;display: block;background-color: #ffcf00;background-position: 10px -98px;cursor: pointer;transform: rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);}
.layout-panel-west .yt-left-container {float: left;width: 240px;}
.layout-panel-west .yt-left-menu {overflow: hidden;position: absolute;top: 34px;left: 0;z-index: 98;width: 240px;height: 100%;background: #2c2e2f;}
.layout-panel-west .menu-c {overflow: scroll;width: 100%;height: 100%;}
.layout-panel-west .menu-c .tree {padding: 10px 0 30px 0;}
.layout-panel-west .menu-c .tree-node {padding: 7px 0 0;height: 25px;line-height: 25px;border-left: transparent solid 3px;}
.layout-panel-west .menu-c .tree-node-hover {background: #3d4346;}
.layout-panel-west .menu-c .tree-node-selected {background: #3d4346;border-left-color: #ffac00;}
.layout-panel-west .menu-c .tree-expanded,.layout-panel-west .menu-c .tree-collapsed {display: none;}
.layout-panel-west .menu-c .tree-folder {margin-left: 11px;display: inline-block;width: 17px;height: 17px;background: url(/img/icon.png) no-repeat -1px -131px;}
.layout-panel-west .menu-c #menu .tree-folder-open {background-position: -1px -150px;}
.layout-panel-west .menu-c .tree-title {padding: 0 10px;font-size: 14px;color: #FFF;}
.layout-panel-west .menu-c #menu li li .tree-folder {background-position: -1px -168px;}
.layout-panel-west .menu-c #menu li li .tree-folder-open {background-position: -1px -185px;}
.layout-panel-west .menu-c .tree-file {display: inline-block;width: 13px;height: 17px;background: url(/img/icon.png) no-repeat -1px -202px;}

/* com */
.panel-body {background: #f5f5f5;}
.yt-right-container {}
.yt-right-container .win-nav {}
.yt-right-container .win-nav .tabs-header {padding-top: 0;position: absolute;top: 0;left: 0;z-index: 2;height: 31px;background: #f6f6f6;border-right: none;border-bottom: 2px solid #ffac00}
.yt-right-container .win-nav .tabs {height: 31px;border-color: #FFF;}
.yt-right-container .tabs li {margin: 0 0 -1px 0;}
.yt-right-container .tabs li a.tabs-close {margin-right: 4px;right: 3px;background: url(/img/icon.png) no-repeat 1px -231px;opacity: 1;}
.yt-right-container .tabs li.tabs-selected a.tabs-close {background-position: -1px -220px;}
.yt-right-container .tabs li a.tabs-inner {padding: 0 15px 0 10px;color: #666;background: #f6f6f6;border-top: none;border-right: 1px solid #dbdbdb;border-bottom-color: #f6f6f6;border-left: none;border-radius: 0;}
.yt-right-container .tabs li a.tabs-inner:hover {background: #f0f4f7;}
.yt-right-container .tabs li.tabs-selected a.tabs-inner {color: #FFF;font-weight: 500;background: #ffac00;border-bottom: 1px solid #ffac00;border-right: 1px solid #f0f4f7;border-radius: 0;}
.yt-right-container .tabs-panels {margin-top: 31px;border: none;}
.yt-right-container .index-img-info {overflow-y: auto;height: 100%;}

/* main */
.main {padding: 20px 0 40px 20px;}
.main-content {background: #fff;}

/* 提示信息 */
.word-hint-box {position: relative;font-size: 12px;}
.word-hint-box i {margin-top: -8px;position: absolute;top: 50%;left: 10px;width: 16px;text-align: center;height: 16px;line-height: 16px;color: #fff;border-radius: 100%;}
.word-hint-box p {padding: 4px 32px;min-height: 20px;line-height: 20px;}
.word-hint-box .hint-a {}
.word-hint-box .hint-a i {background: #ffac00;}
.word-hint-box .hint-a p {color: #ffac00;background: #fff3d7;}

/* footer */
.yt-footer {position: fixed;bottom: 0;width: 100%;height: 40px;background: #FFF;}
.yt-footer .yt-footer-container {padding-left: 230px;position: relative;text-align: center;line-height: 39px;font-size: 12px;color: #666;border-top: 1px solid #e1e1e1;}
.yt-footer .versions-info {position: absolute;top: 0;right: 10px;}
.yt-footer .versions-info i {margin: 12px 3px 0 0;display: block;float: left;width: 16px;height: 16px;background: url(/img/icon.png) no-repeat -1px -244px;}
.yt-footer .versions-time {position: absolute;top: 0;left: 254px;text-align: left;}
.yt-footer .versions-time i {margin: 11px 3px 0 0;display: block;float: left;width: 16px;height: 16px;background: url(/img/icon.png) no-repeat -23px -23px;}

/* 重置layui样式 */
.layui-layer-dialog .layui-layer-content {text-align: center;overflow: hidden;}
.layui-layer-iframe .layui-layer-btn {padding-top: 12px !important;}
.layui-layer .layui-layer-btn {padding: 10px 0;text-align: center;border-top: #eee solid 1px;}
.layui-layer .layui-layer-btn a {margin: 0 15px;min-width: 90px;height: 35px;line-height: 35px;text-align: center;font-size: 14px;color: #666;box-sizing: border-box;background: #f2f2f2;border: #dcdcdc solid 1px;border-radius: 3px;}
.layui-layer .layui-layer-btn .layui-layer-btn0 {background: #ffac00;color: #FFF;border: none;}

/* error */
.container-loss {padding: 100px 0;width: 100%;height: 70%;background: #f5f5f5;}
.container-loss .loss {margin: 80px auto 0;width: 397px;height: 290px;}
.container-loss .loss img {display: block;}
.container-loss .sorry {margin: 0 auto;width: 316px;text-align: center;height: 40px;font-size: 16px;color: #333;}
.container-loss .returnHome {margin: 0 auto;padding-left: 38px;position: relative;display: block;width: 86px;height: 40px;line-height: 40px;font-size: 16px;color: #FFF;background: #ffac00;border-radius: 3px;}
.container-loss .returnHome i {position: absolute;top: 10px;left: 10px;width: 20px;height: 18px;background: url(/img/icon.png) no-repeat  -1px -261px;}