<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.mall.dao.member.MemberMapper">
  <resultMap id="BaseResultMap" type="com.whl.mall.pojo.member.Member">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_member_idx_code" jdbcType="BIGINT" property="createByMemberIdxCode" />
    <result column="update_by_member_idx_code" jdbcType="BIGINT" property="updateByMemberIdxCode" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Base_Column_List">
    idx, idx_code, name, telphone, email, pwd, create_time, update_time, create_by_member_idx_code,
    update_by_member_idx_code, version, status, ext
  </sql>

  <insert id="save" parameterType="com.whl.mall.pojo.member.Member">
    insert into tb_member (idx, idx_code, user_name,
    pwd, create_time, update_time,
    create_by_member_idx_code, update_by_member_idx_code,
    version, status, ext
    )
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
    #{pwd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{createByMemberIdxCode,jdbcType=BIGINT}, #{updateByMemberIdxCode,jdbcType=BIGINT},
    #{version,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT}, #{ext,jdbcType=VARCHAR}
    )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.whl.mall.pojo.member.Member">
    update tb_member
    set idx_code = #{idxCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by_member_idx_code = #{createByMemberIdxCode,jdbcType=BIGINT},
      update_by_member_idx_code = #{updateByMemberIdxCode,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      status = #{status,jdbcType=SMALLINT},
      ext = #{ext,jdbcType=VARCHAR}
    where idx = #{idx,jdbcType=BIGINT}
  </update>

  <select id="queryOneAllInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT
    <include refid="Base_Column_List" />
    from tb_out_store_stock_detail from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryOneSomeInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  idx, idx_code, name, telphone, email from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryTotal" parameterType="com.whl.mall.pojo.member.Member">
    SELECT COUNT(idx) FROM tb_member where 1 != 0
    <if test="level != null">
      and level = #{level}
    </if>
    <if test="pidx != null">
      and pidx = #{pidx}
    </if>
  </select>

  <select id="queryDataByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  <include refid="Base_Column_List" /> from tb_member where 1 != 0
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>
</mapper>