<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.mall.dao.member.MemberRoleMapper">
  <resultMap id="BaseResultMap" type="com.whl.mall.pojo.member.MemberRole">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="member_idx_code" jdbcType="BIGINT" property="memberIdxCode" />
    <result column="role_idx_code" jdbcType="BIGINT" property="roleIdxCode" />
  </resultMap>

</mapper>