<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.mall.dao.member.MemberRoleMapper">
  <resultMap id="BaseResultMap" type="com.whl.mall.pojo.member.MemberRole">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="member_idx_code" jdbcType="BIGINT" property="memberIdxCode" />
    <result column="role_idx_code" jdbcType="BIGINT" property="roleIdxCode" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Base_Column_List">
    idx, idx_code, remark, status, version, create_by_member_idx, update_by_member_idx,
    create_time, update_time, ext, member_idx_code, role_idx_code
  </sql>

  <select id="queryTotal" parameterType="com.whl.mall.pojo.member.Menu">
    SELECT COUNT(idx) FROM tb_member_role where 1 != 0
    <if test="level != null">
      and level = #{level}
    </if>
    <if test="pidx != null">
      and pidx = #{pidx}
    </if>
  </select>

  <insert id="save" parameterType="com.whl.mall.pojo.member.MemberRole">
    insert into tb_member_role (idx, idx_code, remark,
      status, version, create_by_member_idx,
      update_by_member_idx, create_time, update_time,
      ext, member_idx_code, role_idx_code
      )
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
      #{status,jdbcType=SMALLINT}, #{version,jdbcType=BIGINT}, #{createByMemberIdx,jdbcType=BIGINT},
      #{updateByMemberIdx,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{ext,jdbcType=VARCHAR}, #{memberIdxCode,jdbcType=BIGINT}, #{roleIdxCode,jdbcType=BIGINT}
      )
  </insert>

  <select id="queryOneAllInfoByCondition" parameterType="com.whl.mall.pojo.member.MemberRole">
    SELECT
    <include refid="Base_Column_List" />
    from tb_out_store_stock_detail from tb_member_role where 1 = 1
  </select>

  <select id="queryOneSomeInfoByCondition" parameterType="com.whl.mall.pojo.member.MemberRole">
  </select>

  <select id="queryDataByCondition" parameterType="com.whl.mall.pojo.member.MemberRole" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> from tb_member_role where member_idx_code = #{memberIdxCode}
  </select>

  <select id="queryDataIn" parameterType="java.util.List" resultType="com.whl.mall.pojo.member.MemberRole">
    SELECT  <include refid="Base_Column_List" /> from tb_member_role where
    <foreach collection="list" open="(" close=")" separator="," item="idx">
      #{idx}
    </foreach>
  </select>
</mapper>