<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.mall.dao.member.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.whl.mall.pojo.member.Resource">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="resource_group_idx_code" jdbcType="BIGINT" property="resourceGroupIdxCode" />
    <result column="resource_type" jdbcType="SMALLINT" property="resourceType" />
    <result column="menu_button_idx_code" jdbcType="BIGINT" property="menuButtonIdxCode" />
  </resultMap>
  <insert id="save" parameterType="com.whl.mall.pojo.member.Menu">
    insert into tb_menu_p (idx, idx_code, name,
    zindex, level, pidx,
    pidx_code, status, code,
    is_top, img, version,
    create_time, update_time, create_by_member_idx_code,
    update_by_member_idx_code, remark, ext, url
    )
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
    #{zindex,jdbcType=SMALLINT}, #{level,jdbcType=SMALLINT}, #{pidx,jdbcType=BIGINT},
    #{pidxCode,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT}, #{code,jdbcType=VARCHAR},
    #{isTop,jdbcType=SMALLINT}, #{img,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createByMemberIdxCode,jdbcType=BIGINT},
    #{updateByMemberIdxCode,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR}
    )
  </insert>

  <select id="queryOneAllInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT
    <include refid="Base_Column_List" />
    from tb_out_store_stock_detail from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryOneSomeInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  idx, idx_code, name, telphone, email from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryDataByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  <include refid="Base_Column_List" /> from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>
</mapper>