<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whl.mall.dao.member.RoleMapper">
  <resultMap id="BaseResultMap" type="com.whl.mall.pojo.member.Role">
    <id column="idx" jdbcType="BIGINT" property="idx" />
    <result column="idx_code" jdbcType="BIGINT" property="idxCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_by_member_idx" jdbcType="BIGINT" property="createByMemberIdx" />
    <result column="update_by_member_idx" jdbcType="BIGINT" property="updateByMemberIdx" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ext" jdbcType="VARCHAR" property="ext" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    idx, idx_code, remark, status, version, create_by_member_idx, update_by_member_idx,
    create_time, update_time, ext, name, code
  </sql>

  <select id="queryTotal" parameterType="com.whl.mall.pojo.member.Role">
    SELECT COUNT(idx) FROM tb_role where 1 != 0
    <if test="level != null">
      and level = #{level}
    </if>
    <if test="pidx != null">
      and pidx = #{pidx}
    </if>
  </select>

  <insert id="save" parameterType="com.whl.mall.pojo.member.Role">
    insert into tb_role (idx, idx_code, remark,
      status, version, create_by_member_idx,
      update_by_member_idx, create_time, update_time,
      ext, name, code)
    values (#{idx,jdbcType=BIGINT}, #{idxCode,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR},
      #{status,jdbcType=SMALLINT}, #{version,jdbcType=BIGINT}, #{createByMemberIdx,jdbcType=BIGINT},
      #{updateByMemberIdx,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{ext,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
  </insert>

  <select id="queryOneAllInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT
    <include refid="Base_Column_List" />
    from tb_out_store_stock_detail from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryOneSomeInfoByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  idx, idx_code, name, telphone, email from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>

  <select id="queryDataByCondition" parameterType="com.whl.mall.pojo.member.Member">
    SELECT  <include refid="Base_Column_List" /> from tb_member where 1 = 1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="pwd != null">
      and pwd = #{pwd}
    </if>
  </select>
</mapper>